<extend name="Base/common" />

<block name="body">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
    <button class="btn btn-primary"><i class="icon-plus"></i>添加项目</button>
    <button class="btn">Import</button>
    <button class="btn">Export</button>
  <div class="btn-group">
  </div>
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>{:L('user')}</th>
          <th>{:L('real_name')}</th>
          <th>{:L('major')}</th>
          <th>{:L('college')}</th>
          <th>{:L('fail')}</th>
          <th>{:L('state')}</th>
          <th style="width: 35px;"></th>
        </tr>
      </thead>
      <tbody>
      <volist name="list" id="vo" key="k">
        <tr>
          <td>{$k}</td>
          <td>{$vo.user_id}</td>
          <td>{$vo.real_name}</td>
          <td>{$vo.major}</td>
          <td>{$vo.college}</td>
          <td>{$vo.fail}</td>
          <td>{$vo.state}</td>
          <td>
          <if condition="$vo.zt eq 0">
             <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          <else/>
          </if>
              <a href="user.html"><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
       </volist>
      </tbody>
    </table>
</div>
<div class="pagination">
    <ul>
        <li><a href="{$page.last_page}">{:L('last_page')}</a></li>
        <li><a href="#">{$page.current}</a></li>
        <li><a href="{$page.next_page}">{:L('next_page')}</a></li>
    </ul>
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>

</block>

